/* CSS Document */
a{
	font-size: 20px;
}

a:link{
	color:antiquewhite;
	text-decoration: none;
}
a:visited{
	color: #DC9798;
}
a:hover{
	text-decoration: underline;
}
*{
	padding: 0;
	margin:auto;
}
body{
	font-family:"微软雅黑";
	font-size: 14px;
}
#container{
	margin: 0,auto;
	width:900px; 
}
#header{
	height:100px;
	background-color: #6cf;
	margin-bottom:5px;
	text-align: center;
	color:antiquewhite;
}
#nav{
	height: 30px;
	background-color: #09c;
	margin-bottom: 10px;
	text-align: center;
}
#main{
	height:500px;
	margin-bottom: 5px;
}
.aside{
	float:left;
	width:100px;
	height: 500px;
	background-color:deepskyblue;
}
#asideleft{
	
}
#asideright{
	margin-left: 5px;
}
#content{
	float:left;
	margin-left: 5px;
	width: 690px;
	height: 500px;
	background-image:url(images/主体背景.png); 
}
.btn{
	padding: 5px 10px;
	border: 1px solid red;
	margin-top: 30px;
	color: #03e9f4;
}

#footer{
	background-image:url(images/底部.jpg);
    height: 60px;
}