*{
    margin: 0;
    padding: 0;
}

#includeHead{
    width: 100%;
    height: 30px;
    background-color: black;
}

#head-tb{
    width: 960px;
    border-collapse:collapse;
}

#head {
    /*width: 1600px;*/
    width: 960px;
    height: 30px;
    margin: 0 auto;
}

/*#head-first{*/
/*    width: 321px;*/
/*    height: 30px;*/
/*}*/

#head-second{
    width: 477px;
    height: 30px;
    margin-top: 9px;
    font-size: 14px;
    text-align: center;
    color: white;
}

#head-third{
    width: 169px;
    height: 30px;
}

#head-fourth{
    width: 96px;
    height: 30px;
    font-size: 11px;
    color: white;
}

#head-img-first{
    width: 20px;
    height: 22px;
    margin-top: 4px;
    float: left;
}

#head-fourth-content{
    float: left;
    margin-top: 9px;
}

#head-fifth{
    width: 38px;
    height: 30px;
}

#head-sixth{
    width: 96px;
    height: 30px;
}

#head-img-second{
    width: 30px;
    height: 22px;
    margin-top: 5px;
    float: left;
}

#head-sixth-content{
    color: white;
    float: left;
    font-size: 11px;
    margin-top: 6px;
}

#head-seven{
    width: 29px;
    height: 30px;
}

#head-eight{
    width: 53px;
    height: 30px;
}

#head-img-third{
    width: 20px;
    height: 11px;
    margin-top: 5px;
}

#head-img-fourth{
    width: 20px;
    height: 11px;
    margin-top: 5px;
    margin-left: 8px;
}
